html{
   cursor: url("../img/cursor.png"), auto;
}

body {
    margin: 40px auto;
    background-color: #E1E6EE;
  }
  
  @font-face {
    font-family: karatula;
    src: url("LL-KARATULA-020721.otf");
  }
  
  @font-face{
    font-family: bantayog;
    src: url("Bantayog-Semilight.otf");
  }
  
  h1{
    font-family: 'karatula', serif;
     font-size: 60px;
     color: #BB543D;
     line-height: 70px;
  }
  
  h2, p, a{
     font-family: 'bantayog', sans-serif;
  }
  
  h2{
     font-size: 28px;
     color: #5F7EB7;
  }
  
  p{
     font-size: 24px;
     color: #5F7EB7;
  }
  
  a, a:active, a:visited {
     color: #DBB261;
     font-size: 24px;
  }
  
  a:hover{
     color: #b38e46;
     text-decoration: underline;
  }
  
  .center{
     text-align: center;
     margin: auto;
  }
  
  canvas {
    display: block;
    margin: auto;
  }

  footer {
   position: fixed;
   width: 100%;
   text-align: center;
   line-height: 50px;
 }

 .footer-links{
   padding: 0 40px 0px 40px;
 }